<div class="detail-container" *ngIf="data; else noData">
  <a routerLink="/">
    <fa-icon [icon]="faArrowLeft" ></fa-icon>
    Back
  </a>

  <div class="content">
    <div class="flag-wrapper">
      <img [src]="data.flags.png" alt="">
    </div>
    <div class="info-wrapper">
      <div class="name">
        <h1>{{ data.name ? data.name.common : '' }}</h1>
      </div>
      <div class="details">

        <div class="col-1">
          <div class="item">
            <strong>Native Name:</strong>
            <p>{{ data.name.official }}</p>
          </div>
          <div class="item">
            <strong>Population:</strong>
            <p>{{ data.population }}</p>
          </div>
          <div class="item">
            <strong>Region:</strong>
            <p> {{ data.region }} </p>
          </div>
          <div class="item">
            <strong>Sub Region:</strong>
            <p> {{ data.subregion }} </p>
          </div>
          <div class="item">
            <strong>Capital:</strong>
            <p> {{ data.capital }} </p>
          </div>
        </div>

        <div class="col-2">
          <div class="item">
            <strong>Top Level Domain:</strong>
            <p> {{ data.tld? data.tld[0] : 0 }} </p>
          </div>
          <!-- <div class="item">
            <strong>Currencies:</strong>
            <p>{{  data.currencies ? data.currencies[0].symbol : '' }}</p>
          </div>
          <div class="item">
            <strong>Languages:</strong>
            <p>{{ data.languages ? data.languages[0].code : '' }}</p>
          </div> -->
        </div>
      </div>
      <div class="border-countries" *ngIf="data.borders" >
        <strong>Border Countries:</strong>
        <div class="border-country" (click)="redirectDetail(country)"  *ngFor="let country of data.borders" >
          {{ country }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  Failed to get country data. Please, Try again later :/
</ng-template>

