@import '../../../styles'

.header
  color: var(--color)
  background-color: var(--background-elements)

  display: flex
  justify-content: space-between
  align-items: center
  width: 100vw
  padding: 2rem 4rem

  @media screen and (max-width: 375px)
    padding: 2rem 1rem

  .text-wrapper
    font-size: 24px
    font-weight: 800

  .theme-change-wrapper
    display: flex
    align-items: center
    justify-content: center
    gap: 10px

    cursor: pointer

    .theme-change-text
      font-weight: 600

  @media screen and (max-width: 375px)
    .text-wrapper, .theme-change-text
       font-size: var(--font-size-home)

