@import '../../../styles'

form.search-bar
  background: var(--background-elements)
  color: var(--color)
  box-shadow: 0 0 5px rgba(0, 0, 0, .3)

  display: flex
  align-items: center
  gap: 20px

  width: 40vw
  padding: 1rem 1.5rem
  border-radius: 4px

  input
    outline: none
    border: none
    width: 90%
    padding: .5rem
    color: inherit
    background: inherit

  @media screen and (max-width: 800px)
    width: 90vw
