@import '../../../styles'

.app-container
  display: flex
  flex-direction: column

  padding: 4rem
  background: $very-light-gray

  gap: 4rem

  @media screen and (max-width: 375px)
      padding: .5em

  .search-filter-wrapper
    display: flex
    align-items: center
    justify-content: space-between

    @media screen and (max-width: 375px)
      flex-direction: column
      gap: 2em
