@import '../../../styles'

.filter-region
  width: 200px
  font-size: var(--font-size-detail)

  &, .select-options
    border-radius: 4px
    background: var(--background-elements)


  .selected-item
    display: flex
    justify-content: space-between
    align-items: center
    text-transform: capitalize

    padding: 1rem 1.5rem

    fa-icon
      cursor: pointer
      transition: all ease .2s

      &.__is-open
        rotate: 180deg


  .select-options
    display: none
    width: inherit
    padding: 1rem 1.5rem


    .option
      cursor: pointer
      margin-bottom: 5px

      &:last-child
        margin-bottom: 0

    &.__is-open
      display: block
      position: absolute
      top: 225px
      z-index: 2

      @media screen and (max-width: 800px)
        top: 250px



