@import '../../../styles'
.filter-region
  background-color: $white
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2)
  padding: 1rem
  width: 15vw
  padding: 1rem 1.5rem
  color: $dark-gray
  font-size: $font-size-detail
  border-radius: 4px

  select, option
    font-weight: 400
    width: 100%
    outline: none
    border: none
