@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300%3B600%3B800&display=swap')


$font-size-home: 14px
$font-size-detail: 16px

$color-light: hsl(200, 15%, 8%)
$color-dark: hsl(0, 0%, 100%)
$background-light: hsl(0, 0%, 98%)
$background-dark: hsl(207, 26%, 17%)
$background-elements-light: hsl(0, 0%, 100%)
$background-elements-dark: hsl(209, 23%, 22%)
$shadow: hsl(0, 0%, 52%, .5)

*
  margin: 0
  border: 0
  padding: 0
  box-sizing: border-box
  overflow: auto
  outline: none
  list-style: none


html
  font-family: "Nunito Sans", sans-serif

  --font-size-home: #{$font-size-home}
  --font-size-detail: #{$font-size-detail}

  --color: #{$color-light}
  --background: #{$background-light}
  --background-elements: #{$background-elements-light}
  --shadow: #{$shadow}

  .card, .search-bar, .header, a, a:visited, .border-country, .select-options
    box-shadow: 0 0 5px var(--shadow)

  fa-icon
    width: max-content
    overflow: hidden

  body
    background: var(--background)


html[data-theme="dark"]
    --color: #{$color-dark}
    --background: #{$background-dark}
    --background-elements: #{$background-elements-dark}




